In [1]:
import pandas as pd 
customer1=pd.read_csv("D:/customers-1000.csv",header=0,index_col=0)
customer1

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
Index,,,,,,,,,,,
1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...
996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/
997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/
998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/
999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/
1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/

In [2]:
people_rawdata1=pd.read_csv("D:/people-1000.csv",header=0,index_col=0)
people_rawdata1

,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
Index,,,,,,,,
1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,2014-01-27,Probation officer
2,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,+1-950-759-8687,1931-07-26,Dancer
3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,2013-11-25,Copy
4,BF2a889C00f0cE1,Whitney,Hooper,Male,zjohnston@example.com,+1-939-130-6258,2012-11-17,Counselling psychologist
5,9afFEafAe1CBBB9,Lindsey,Rice,Female,elin@example.net,(390)417-1635x3010,1923-04-15,Biomedical engineer
...,...,...,...,...,...,...,...,...
996,fedF4c7Fd9e7cFa,Kurt,Bryant,Female,lyonsdaisy@example.net,021.775.2933,1959-01-05,Personnel officer
997,ECddaFEDdEc4FAB,Donna,Barry,Female,dariusbryan@example.com,001-149-710-7799x721,2001-10-06,Education administrator
998,2adde51d8B8979E,Cathy,Mckinney,Female,georgechan@example.org,+1-750-774-4128x33265,1918-05-13,Commercial/residential surveyor
999,Fb2FE369D1E171A,Jermaine,Phelps,Male,wanda04@example.net,(915)292-2254,1971-08-31,Ambulance person
1000,8b756f6231DDC6e,Lee,Tran,Female,deannablack@example.org,079.752.5424x67259,1947-01-24,"Nurse, learning disability"

In [4]:
# To join the tables as join query merge both tables inner join by default
cust_people=pd.merge(customer1,people_rawdata1,on='Index')
cust_people

,Customer Id,First Name_x,Last Name_x,Company,City,Country,Phone 1,Phone 2,Email_x,Subscription Date,Website,User Id,First Name_y,Last Name_y,Sex,Email_y,Phone,Date of birth,Job Title
Index,,,,,,,,,,,,,,,,,,,
1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,2014-01-27,Probation officer
2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,+1-950-759-8687,1931-07-26,Dancer
3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,2013-11-25,Copy
4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,BF2a889C00f0cE1,Whitney,Hooper,Male,zjohnston@example.com,+1-939-130-6258,2012-11-17,Counselling psychologist
5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/,9afFEafAe1CBBB9,Lindsey,Rice,Female,elin@example.net,(390)417-1635x3010,1923-04-15,Biomedical engineer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/,fedF4c7Fd9e7cFa,Kurt,Bryant,Female,lyonsdaisy@example.net,021.775.2933,1959-01-05,Personnel officer
997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/,ECddaFEDdEc4FAB,Donna,Barry,Female,dariusbryan@example.com,001-149-710-7799x721,2001-10-06,Education administrator
998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/,2adde51d8B8979E,Cathy,Mckinney,Female,georgechan@example.org,+1-750-774-4128x33265,1918-05-13,Commercial/residential surveyor
999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/,Fb2FE369D1E171A,Jermaine,Phelps,Male,wanda04@example.net,(915)292-2254,1971-08-31,Ambulance person
1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/,8b756f6231DDC6e,Lee,Tran,Female,deannablack@example.org,079.752.5424x67259,1947-01-24,"Nurse, learning disability"

In [5]:
# where query 


sort_query=cust_people.sort_values('Subscription Date') 
sort_query

,Customer Id,First Name_x,Last Name_x,Company,City,Country,Phone 1,Phone 2,Email_x,Subscription Date,Website,User Id,First Name_y,Last Name_y,Sex,Email_y,Phone,Date of birth,Job Title
Index,,,,,,,,,,,,,,,,,,,
40,BEBA4fDAA6C4adC,Rickey,Mays,"Escobar, Carrillo and Sloan",Hollandshire,United States of America,042-976-4714x26341,245.657.5660,cmcdowell@riley-wolf.org,2020-01-01,http://www.nolan.com/,DFAB00C01CcF860,Angela,Huff,Male,anitamckenzie@example.net,(116)776-0713x4684,1922-09-16,"Pilot, airline"
242,dEc837d5F13C1ed,Kendra,Waters,Gates Inc,Warnerport,Nicaragua,5445638365,939.571.9576,tracey11@carney.com,2020-01-02,http://www.ayala.com/,a88B0C0F3c98028,Bridget,Griffith,Male,jeremyosborne@example.com,001-605-811-2204,1954-02-09,Historic buildings inspector/conservation officer
617,F9AEc2F51C5EDaE,Parker,Russo,Foley-Yoder,East Dorothy,Malawi,800-134-7296,844-503-8567x9308,hancockbrianna@mccann.org,2020-01-02,https://perez-pollard.com/,44bCffc462bAA63,Tammy,Delacruz,Female,dwaynemay@example.net,064.875.1370x536,1997-07-22,Tourist information centre manager
148,EF5858dEe5f7649,Belinda,Ferguson,"Lewis, Bowman and Craig",Moralesport,Lao People's Democratic Republic,307.998.0543,007.052.7419,billspears@harmon.org,2020-01-02,https://huff.com/,a9E3b490AE3B346,Joann,Fuller,Male,pstone@example.net,349.036.6379,1919-03-28,Chief Executive Officer
952,a9feB7dCD2FFd4e,Larry,Key,Riley Group,Mcdonaldchester,Guinea,001-406-973-8446x255,811.758.6793,ygood@vaughn.com,2020-01-04,https://www.arroyo-schultz.com/,6EE9F6c4e7E2baF,Laurie,Blanchard,Male,mosleyshannon@example.org,(305)180-6326x773,1984-01-08,Geographical information systems officer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,cDBe5cFdbB3Ae4F,Jasmin,Waters,Chandler-Holt,South Marisachester,Hungary,(100)042-3614x67556,6319120275,pclark@ortega.com,2022-05-26,https://costa-owens.com/,6f9fcADee67c713,Katelyn,Henderson,Male,gpatterson@example.org,(288)627-9659x909,1999-09-06,Advertising account planner
831,4A231C5DceB9739,Jack,Mendoza,"Cardenas, Bass and Callahan",Quinnfurt,Puerto Rico,+1-186-954-2345x50800,001-265-899-4876x1796,kmccullough@bryant.com,2022-05-28,https://colon.net/,feAb6AB57dE8DB3,Kirk,Stanton,Female,fcantrell@example.org,057.846.9210x0614,1935-04-22,"Scientist, forensic"
498,E040edB499A6132,Amanda,Santos,Camacho-Lamb,Freemanberg,Antigua and Barbuda,092.983.8391x0219,626-158-4763x92618,slivingston@cherry-lara.info,2022-05-29,http://www.mcneil-gould.biz/,6EfA04eA2aA4F8f,Logan,Henry,Male,markbenitez@example.com,001-089-880-7839,1962-09-23,Counsellor
198,a8FfE4fbd7910b9,Bethany,Barrera,"Swanson, Figueroa and Heath",Vickietown,South Georgia and the South Sandwich Islands,001-411-057-3486,6232251109,rhonda48@castro.info,2022-05-29,http://www.cortez.com/,C88B0CFc36D6fF4,Melody,Clements,Male,christiandarryl@example.org,001-253-274-0802,1980-08-10,Public house manager
578,aF4fA3aCA4bD5eC,Joel,Shea,Richmond-Horne,South Alisha,Palau,+1-517-016-8892x66533,(060)659-5698x44574,gfarley@wheeler-ayala.com,2022-05-29,https://www.mercer.com/,7BFf0E550f2D794,Nicole,Harrington,Female,schneiderwilliam@example.com,+1-399-874-1872x07858,2006-03-07,Archivist

In [9]:
# And Query 

and_query=cust_people[(cust_people["Sex"]== "Male") & (cust_people["Country"]== "China")]
and_query

,Customer Id,First Name_x,Last Name_x,Company,City,Country,Phone 1,Phone 2,Email_x,Subscription Date,Website,User Id,First Name_y,Last Name_y,Sex,Email_y,Phone,Date of birth,Job Title
Index,,,,,,,,,,,,,,,,,,,
61,aB3351247D3fCD8,Bruce,Bass,"Day, Wiley and Mclaughlin",Juarezbury,China,170-094-5436x7579,+1-006-698-5103x18954,gvang@woods.info,2020-08-10,http://www.goodwin.com/,B2F0bdF85bfc7cA,Lance,Bradshaw,Male,pennymeyer@example.org,001-231-320-5609x40384,1974-07-13,Data scientist
95,e9eFc5d60ddc3ec,Dakota,Bowman,Gomez-Tapia,West Barbarafurt,China,+1-707-196-7497,4793362473,branchmegan@dougherty.com,2022-04-17,https://deleon-avery.com/,cEb6af0Da7E6707,Dominique,Stevenson,Male,bennettmisty@example.org,(638)229-8203x412,1988-12-09,Art gallery manager
282,e5cC6aa0B9F6b68,Isaiah,Buckley,Davies-Hardy,Youngfurt,China,+1-562-432-0738x76444,+1-522-611-9078x2725,haaszachary@holmes.com,2021-01-19,https://www.lynn.com/,cfc55CA94Ad1CD2,Kara,Gamble,Male,paynetamara@example.org,+1-740-899-7655x05268,1998-06-16,Primary school teacher
516,b68E5a53fBb0C4A,Andrea,Dennis,Kramer Ltd,Colemanfurt,China,291.037.8984x1081,001-990-555-1905x268,stephensonkevin@rojas-strong.com,2020-12-16,https://boyd-giles.info/,7210306Eb0E1cDe,Dustin,Howard,Male,hayleydalton@example.com,(150)312-9124x907,1995-07-29,Academic librarian
758,2b6221ca8A40B98,Connie,Mercado,"Weeks, Perez and Andersen",New Vincentstad,China,(007)901-2759,+1-430-158-4106x96434,gallagherfrank@fitzgerald.com,2022-02-13,http://www.petty.biz/,B5709aba28899e6,Whitney,Wang,Male,fullerstuart@example.net,272-667-4615,2020-11-02,Health and safety inspector

In [ ]:
# count and groupby query 
groupby_custpeople=cust_people.groupby('Country').count()
groupby_custpeople

,Customer Id,First Name_x,Last Name_x,Company,City,Phone 1,Phone 2,Email_x,Subscription Date,Website,User Id,First Name_y,Last Name_y,Sex,Email_y,Phone,Date of birth,Job Title
Country,,,,,,,,,,,,,,,,,,
Afghanistan,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Albania,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Algeria,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
American Samoa,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Andorra,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Western Sahara,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Yemen,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Zambia,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Zimbabwe,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5

In [12]:
size_custpeople=cust_people.groupby('Job Title').size()
size_custpeople

Job Title
Academic librarian                      5
Accommodation manager                   2
Accountant, chartered                   1
Accountant, chartered certified         3
Accountant, chartered public finance    3
                                       ..
Water quality scientist                 2
Web designer                            3
Wellsite geologist                      1
Writer                                  3
Youth worker                            2
Length: 519, dtype: int64